.header {
  background-image: url('/public/static/baiq-daling-ykThMylLsbY-unsplash.jpg');
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.headerHeight {
  height: 550px;
}
