.backgroundImage {
  background-image: url(../public/images/baiq-daling-ykThMylLsbY-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bigHeight {
  height: 500px;
}
