.fixedButton {
  top: 0.8125rem;
  right: 1.5rem;
}
.navLi {
}

.navLi:hover,
.liBorderBottom {
  border-right: none;
  border-left: none;
  border-bottom: 3px solid #34d399;
  border-radius: 3px;
}

.navBorderBottom {
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
}
