.fixedButton {
  top: 1.2rem;
  right: 1.5rem;
}

.navLi {
  padding-bottom: 3px;
  border-right: none;
  border-left: none;
  border-bottom: 3px solid transparent;
}

.navLiPadding {
  padding-bottom: 0px;
  border-bottom: none;
}

.logo {
  filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
}

@media screen and (min-width: 640px) {
  .navLi:hover,
  .liBorderBottom {
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #ef670f;
  }
}

@media screen and (max-width: 639px) {
  .navLi > a {
    display: block;
    width: 95%;
    margin: auto;
  }
}
